
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.col-xl-5 {
    flex: 0 0 auto;
    width: 30% !important;
}


.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-left: 90px;

}

.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}